<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Latest compiled and minified Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.3.2/chart.min.js"></script>
    <title>Index Analysis</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <style>
.index-attribute:hover {
    color: white;
    background-color: #DC4C64;
}

#general_info {
   background-color: #F0F0F0;
   width: 100%;
   padding: 10px;
}

#summary_div {
   background-color: white;
   display: inline-block;
   margin: 10px;
   padding: 10px;
   width: 1020px;
}

#cost_div {
   background-color: white;
   display: inline-block;
   margin: 10px;
   padding: 10px;
   width: 1020px;
}

#details_per_selection {
    background-color: #F0F0F0;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}

.selection_details {
    background-color: white;
    margin: 10px;
    padding: 10px;
    width: 500px;
    float: left;
}

.btn-group {
    margin: 2px;
}

.btn {
    .padding: .25em !important;
    margin-left: .1em;
    margin-right: .1em;
}

.add_index_button {
    display: inline-block;
}

    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">
        <img src="{{ url_for('static', filename='images/PostgreSQL_logo.png') }}" width="30" height="30" class="d-inline-block align-top" alt=""> Index Analysis
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Workload: TPC-H (SF=10)
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">TPC-H (SF=10)</a>
          <a class="dropdown-item" href="#">JOB</a>
        </div>
      </li>
    </ul>
  </div>
    </nav>
<div>
    <div id="general_info">
        <div id="summary_div"><canvas id="summaryChart" max-width="1000" max-height="1000"></canvas></div>
        <div id="cost_div" class=""><canvas id="queryCostsChart" max-width="1000" max-height="1000"></canvas></div>
    </div>
    <div id="details_per_selection">
    </div>
</div>

    <script>
    let apiUrl = 'http://127.0.0.1:5000/';

    function getJson(url) {
        let request = new XMLHttpRequest();
        request.open("GET", url, false);
        request.send(null);
        return JSON.parse(request.responseText);
    }

    var selectedAlgorithms = [];
    var querySizeCharts = []

    var summaryData = getJson(apiUrl + 'summary');
    console.log(summaryData);

    function summaryOnClickHandler(event, elements, chart) {
        if (elements.length == 1) {
            let algorithm = summaryData[elements[0].datasetIndex].label;
            let memory_budget = summaryData[elements[0].datasetIndex].data[elements[0].index].x;
            let index = selectedAlgorithms.findIndex((element) => element[0] == algorithm && element[1] == memory_budget);
            let approach_id = algorithm + '__' + memory_budget;
            if (index == -1) {
                <!-- new approach got selected -->
                selectedAlgorithms.push([algorithm, memory_budget]);
                console.log('remove');
                $('#cost_div').removeClass('d-none');
                var result = getJson(apiUrl + 'query_cost_per_algorithm/' + JSON.stringify([[algorithm, memory_budget]]));
                for (i = 0; i < result.length; i++) {
                    queryCostsChart.data.datasets.push(result[i]);
                }
                let borderColor = result[0].borderColor;
                let backgroundColor = result[0].backgroundColor;
                console.log(borderColor, backgroundColor);
                $('#cost_div').removeClass('d-none');
                <!-- TODO: add approach details -->
                var result = getJson(apiUrl + 'index_sizes/' + JSON.stringify([algorithm, memory_budget]));
                var dom_element = '<div id="' + approach_id + '__details" class="selection_details">\n' +
            '<h3>' + algorithm + ' ' +  memory_budget + ' GB</h3>\n' +
            '<div id="' + approach_id + 'size_div"><canvas id="' + approach_id + '__indexSizeChart" width="480" height="350"></canvas></div>\n' +
            '<div id="' + approach_id + '__index_overview">' + JSON.stringify(result.index_names) + '</div>\n' +
            '<div id="' + approach_id + '__add_index"></div>\n' +
        '</div>\n'
                $('#details_per_selection').append($(dom_element));

                let ctx = document.getElementById(approach_id + '__indexSizeChart').getContext('2d');
                let querySizeChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: result.index_names,
                        datasets: [{
                            label: 'estimated index size',
                            data: result.index_sizes,
                            backgroundColor: [backgroundColor],
                            borderColor: [borderColor],
                            borderWidth: 1
                        }]
                    },
                    options: {
                        plugins: {
                            legend: {
                                display: false
                            },
                            title: {
                                display: true,
                                text: 'Estimated Index Sizes',
                                font: {
                                    size: 16
                                }
                            }
                        },
                        scales: {
                            x: {
                                ticks: {
                                    font: {
                                        size: 12
                                    }
                                },
                                title: {
                                    display: true,
                                    text: 'index (attributes)',
                                    font: {
                                        size: 16
                                    }
                                }
                            },
                            y: {
                                beginAtZero: true,
                                ticks: {
                                    font: {
                                        size: 16
                                    }
                                },
                                title: {
                                    display: true,
                                    text: 'index storage consumption (GB)',
                                    font: {
                                        size: 16
                                    }
                                }
                            }
                        }
                    }
                });
                querySizeCharts.push(querySizeChart);

                constructIndexOverview(approach_id, result.index_names, result.extension_options, result.addable_indexes);
            }
            else {
                <!-- previously selected approach got deselected -->
                selectedAlgorithms.splice(index, 1);
                querySizeCharts.splice(index, 1);
                let index2 = queryCostsChart.data.datasets.findIndex((element) => element.label == algorithm + ' ' + memory_budget);
                console.log('chart costs remove ' + index2);
                queryCostsChart.data.datasets.splice(index2, 1);
<!--                if (selectedAlgorithms.length == 0) {-->
<!--                    $('#cost_div').addClass('d-none');-->
<!--                }-->
                <!-- remove approach details -->
                console.log('#' + approach_id + '__details remove');
                $(document.getElementById(approach_id + '__details')).remove();
            }
            console.log(selectedAlgorithms);
            queryCostsChart.update();
        }
    }

    var ctx = document.getElementById('summaryChart').getContext('2d');
    queryCostsChart = new Chart(ctx, {
        type: 'line',
        data: {
            datasets: summaryData
        },
        options: {
            plugins: {
                legend: {
                    labels: {
                        font: {
                            size: 16
                        }
                    }
                },
                title: {
                    display: true,
                    text: 'Solution Summary: Cost Relative to Processing without Indexes.',
                    font: {
                        size: 16
                    }
                }
            },
            showLine: true,
            scales: {
                x: {
                    type: 'linear',
                    beginAtZero: true,
                    ticks: {
                        font: {
                            size: 16
                        }
                    },
                    title: {
                        display: true,
                        text: 'index storage consumption (GB)',
                        font: {
                            size: 16
                        }
                    }
                },
                y: {
                    ticks: {
                        font: {
                            size: 16
                        }
                    },
                    title: {
                        display: true,
                        text: 'relative workload cost',
                        font: {
                            size: 16
                        }
                    }
                }
            },
            onClick: summaryOnClickHandler,
        }
    });

    var data = getJson(apiUrl + 'index_sizes/' + JSON.stringify(["ILP", 4000]));

    var ctx = document.getElementById('queryCostsChart').getContext('2d');
    queryCostsChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: data.queries,
            datasets: [{
                label: 'no indexes',
                data: data.query_cost_no_index
            },
            ]
        },
        options: {
            plugins: {
                legend: {
                    labels: {
                        font: {
                            size: 16
                        }
                    }
                },
                title: {
                    display: true,
                    text: 'Estimated processing cost per query',
                    font: {
                        size: 16
                    }
                }
            },
            scales: {
                x: {
                    ticks: {
                        font: {
                            size: 16
                        }
                    },
                    title: {
                        display: true,
                        text: 'query id',
                        font: {
                            size: 16
                        }
                    }
                },
                y: {
                    beginAtZero: true,
                    ticks: {
                        font: {
                            size: 16
                        }
                    },
                    title: {
                        display: true,
                        text: 'PostgreSQL query cost',
                        font: {
                            size: 16
                        }
                    }
                }
            }
        }
    });


    function remove(element) {
        var removed_attribute = element.textContent;
        console.log('remove index_attribute: ' + removed_attribute);
        let index_overview = element.parentNode.parentNode.parentNode;
        console.log(index_overview.id);
        console.assert(index_overview.id.split('__').slice(-1) == 'index_overview');

        let algorithm = index_overview.id.split('__')[0];
        let memory_budget = index_overview.id.split('__')[1];
        let approach_id = algorithm + '__' + memory_budget;

        if (element.parentNode.children.length == 1) {
            // remove index
            element.parentNode.parentNode.remove();

        } else {
            // add attribute in dropdown
            element.parentNode.parentNode.children[1].children[1].innerHTML += '<a class="dropdown-item" href="javascript: void(0);" onclick="addIndexAttribute(this)">' + removed_attribute + '</a>';
            // remove index attribute
            element.remove();
        }

        let index_names = [];
        for (i=0; i<index_overview.children.length; i++) {
            let index = [];
            for (j=0; j<index_overview.children[i].children[0].children.length; j++) {
                index.push(index_overview.children[i].children[0].children[j].textContent);
            }
            index_names.push(index);
        }
        console.log(index_names);
        let result = getJson(apiUrl + 'index_calculation/' + JSON.stringify(index_names));
        console.log(result.index_sizes);

        let position = selectedAlgorithms.findIndex((element) => element[0] == algorithm && element[1] == memory_budget);
        querySizeCharts[position].data.datasets[0].data = result.index_sizes;
        querySizeCharts[position].data.labels = index_names;
        querySizeCharts[position].update();

        // use individual updates for smooth animation
        for (i = 0; i < result.query_costs.length; i++) {
            queryCostsChart.data.datasets[position+1].data[i] = result.query_costs[i];
        }
        queryCostsChart.update()

    }

    function addIndexAttribute(element) {
        console.log('add index_attribute');
        let index_info_element = element.parentNode.parentNode.parentNode;
        let added_attribute = element.textContent;
        console.log(added_attribute);
        let index_overview = element.parentNode.parentNode.parentNode.parentNode;
        console.log(index_overview.id);
        console.assert(index_overview.id.split('__').slice(-1) == 'index_overview');

        let algorithm = index_overview.id.split('__')[0];
        let memory_budget = index_overview.id.split('__')[1];


        index_info_element.children[0].innerHTML +=  '<button type="button" class="btn btn-default index-attribute" value="' + added_attribute + '" onclick="remove(this)">' + added_attribute + '<span class="glyphicon glyphicon-remove"></button>';

        element.remove();

        let index_names = [];
        for (i=0; i<index_overview.children.length; i++) {
            let index = [];
            for (j=0; j<index_overview.children[i].children[0].children.length; j++) {
                index.push(index_overview.children[i].children[0].children[j].textContent);
            }
            index_names.push(index);
        }
        console.log(index_names);
        let result = getJson(apiUrl + 'index_calculation/' + JSON.stringify(index_names));
        console.log(result.index_sizes);

        let position = selectedAlgorithms.findIndex((element) => element[0] == algorithm && element[1] == memory_budget);
        querySizeCharts[position].data.datasets[0].data = result.index_sizes;
        querySizeCharts[position].data.labels = index_names;
        querySizeCharts[position].update();

        // use individual updates for smooth animation
        for (i = 0; i < result.query_costs.length; i++) {
            queryCostsChart.data.datasets[position+1].data[i] = result.query_costs[i];
        }
        queryCostsChart.update()
    }

    function addIndex(element) {
        console.log('add index');
        let added_index = element.textContent;
        console.log(added_index);
        let add_index_element = element.parentNode.parentNode.parentNode;
        console.log(add_index_element.id);
        console.assert(add_index_element.id.split('__').slice(-1) == 'add_index');

        let algorithm = add_index_element.id.split('__')[0];
        let memory_budget = add_index_element.id.split('__')[1];

        let approach_id = algorithm + '__' + memory_budget;

        let result = getJson(apiUrl + 'extension_for_index/' + added_index);

        let index_element = '<div><div class="btn-group btn-group-sm add_index_button" role="group">';
        index_element +=  '<button type="button" class="btn btn-default index-attribute" value="' + added_index + '" onclick="remove(this)">' + added_index + '<span class="glyphicon glyphicon-remove"></button>';
        index_element +='</div>';   // btn-group
        index_element += '<div class="dropdown add_index_button">' +
                                '<button class="btn btn-info dropdown-toggle btn-sm" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">' +
                                    'add attribute' +
                                '</button>' +
                                '<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">';

            for (let k = 0; k < result.extension_options.length; k++) {
                index_element += '<a class="dropdown-item" href="javascript: void(0);" onclick="addIndexAttribute(this)">' + result.extension_options[k] + '</a>';
            }

            index_element += '</div></div>';  // dropdown-menu + dropdown
            index_element +='</div>';   // index element


        let index_overview = document.getElementById(approach_id + '__index_overview');
        index_overview.innerHTML += index_element;

        element.remove();

        let index_names = [];
        for (i=0; i<index_overview.children.length; i++) {
            let index = [];
            for (j=0; j<index_overview.children[i].children[0].children.length; j++) {
                index.push(index_overview.children[i].children[0].children[j].textContent);
            }
            index_names.push(index);
        }
        console.log(index_names);
        result = getJson(apiUrl + 'index_calculation/' + JSON.stringify(index_names));
        console.log(result.index_sizes);

        let position = selectedAlgorithms.findIndex((element) => element[0] == algorithm && element[1] == memory_budget);
        querySizeCharts[position].data.datasets[0].data = result.index_sizes;
        querySizeCharts[position].data.labels = index_names;
        querySizeCharts[position].update();

        // use individual updates for smooth animation
        for (i = 0; i < result.query_costs.length; i++) {
            queryCostsChart.data.datasets[position+1].data[i] = result.query_costs[i];
        }
        queryCostsChart.update()
    }

    function constructIndexOverview(approach_id, indexes, extension_options, addable_indexes) {
        let index_overview_element = document.getElementById(approach_id + '__index_overview');
        index_overview_element.innerHTML = '';
        for (var i = 0; i < indexes.length; i++) {
            var index = indexes[i];
            var index_element = '<div id="' + approach_id + '__index' + i + '" ><div class="btn-group btn-group-sm add_index_button" role="group">';
                for (var j = 0; j < index.length; j++) {
                    index_element +=  '<button type="button" class="btn btn-default index-attribute" value="' + index[j] + '" onclick="remove(this)">' + index[j] + '<span class="glyphicon glyphicon-remove"></button>';
            }
            index_element +='</div>';   // btn-group
            index_element += '<div class="dropdown add_index_button">' +
                                '<button class="btn btn-info dropdown-toggle btn-sm" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">' +
                                    'add attribute' +
                                '</button>' +
                                '<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">';

            for (var k = 0; k < extension_options[i].length; k++) {
                index_element += '<a class="dropdown-item" href="javascript: void(0);" onclick="addIndexAttribute(this)">' + extension_options[i][k] + '</a>';
            }

            index_element += '</div></div>';  // dropdown-menu + dropdown
            index_element +='</div>';   // index element
            index_overview_element.innerHTML += index_element;
        }
        let drop_down = '<div class="dropdown">' +
                                '<button class="btn btn-info dropdown-toggle btn-sm" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">' +
                                    'add index' +
                                '</button>' +
                                '<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">';

        for (let i = 0; i < addable_indexes.length; i++) {
            drop_down += '<a class="dropdown-item" href="javascript: void(0);" onclick="addIndex(this)">' + addable_indexes[i] + '</a>';
        }

        drop_down += '</div></div>';  // dropdown-menu + dropdown
        document.getElementById(approach_id + '__add_index').innerHTML += drop_down;

    }

    </script>
</body>

</html>