<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Latest compiled and minified Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.3.2/chart.min.js"></script>
    <title>Index Analysis</title>
    <style>
.index-attribute:hover {
    color: white;
    background-color: #DC4C64;
}

    </style>
</head>

<body>
    <canvas id="queryCostsChart" max-width="100" max-height="100"></canvas>
    <canvas id="querySizeChart" max-width="100" max-height="100"></canvas>
    <div id="index_overview"></div>

    <button onclick="refresh()" type="button">Refresh</button>
    <script>
    let apiUrl = 'http://127.0.0.1:5000/';

    function getJson(url) {
        let request = new XMLHttpRequest();
        request.open("GET", url, false);
        request.send(null);
        return JSON.parse(request.responseText);
    }

    var data = getJson(apiUrl + 'index_sizes');

    var ctx = document.getElementById('queryCostsChart').getContext('2d');
    queryCostsChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: data.queries,
            datasets: [{
                label: 'no indexes',
                data: data.query_cost_no_index
            },
            {
                label: 'estimated query costs',
                data: data.query_costs,
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });

    var ctx = document.getElementById('querySizeChart').getContext('2d');
    querySizeChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: data.index_names,
            datasets: [{
                label: 'estimated index size',
                data: data.index_sizes,
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });

    function remove(element) {
        var parent = element.parentNode.parentNode;
        var removed_attribute = element.textContent;

        var index_id = parseInt(parent.id.slice(5, parent.id.length));
        console.log(index_id);
        console.log(parent.id, element.textContent);
        var position = data.index_names[index_id].indexOf(removed_attribute);

        data.index_names[index_id].splice(position, 1);
        if (data.index_names[index_id] == 0) {
            element.parentNode.parentNode.remove();
        } else {
          element.remove();
        }
    }

    function constructIndexOverview(indexes) {
        let index_overview_element = document.getElementById('index_overview');
        index_overview_element.innerHTML = '';
        for (var i = 0; i < indexes.length; i++) {
            var index = indexes[i];
            var index_element = '<div id="index' + i + '" ><div class="btn-group" role="group">';
                for (var j = 0; j < index.length; j++) {
                    index_element +=  '<button type="button" class="btn btn-default index-attribute" value="' + index[j] + '" onclick="remove(this)">' + index[j] + '<span class="glyphicon glyphicon-remove"></button>\n';
            }
            index_element +='</div></div>'
            index_overview_element.innerHTML += index_element;
        }
    }

    constructIndexOverview(data.index_names);

    function refresh() {
        var data = getJson(apiUrl + 'index_sizes');
        querySizeChart.data.datasets[0].data = data.index_sizes;
        querySizeChart.data.labels = data.index_names;
        console.log(data);
        querySizeChart.update();
    }



    </script>
</body>

</html>