<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Latest compiled and minified Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.3.2/chart.min.js"></script>
    <title>Index Analysis</title>
    <style>
.index-attribute:hover {
    color: white;
    background-color: #DC4C64;
}

#general_info {
   width: 100%;
}

#summary_div {
   display: inline-block;
   width: 1000px;
}

#cost_div {
   display: inline-block;
   width: 1000px;
}
#size_div {
   display: inline-block;
   width: 666px;
   background-color: white;
}
#index_overview {
    display: inline-block;
}

#details_per_selection {
    background-color: #F0F0F0;
    padding: 10px;
}

.selection_details {
    background-color: white;
    margin: 10px;
    padding: 10px;
}

    </style>
</head>

<body>
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="#">
        <img src="{{ url_for('static', filename='images/PostgreSQL_logo.png') }}" width="30" height="30" class="d-inline-block align-top" alt=""> Index Analysis
      </a>
      <div class="navbar-item active">
          TPC-H (SF=10)
      </div>
    </nav>
<div>
    <div id="general_info">
        <div id="summary_div"><canvas id="summaryChart" max-width="1000" max-height="1000"></canvas></div>
        <div id="cost_div" class=""><canvas id="queryCostsChart" max-width="1000" max-height="1000"></canvas></div>
    </div>
    <div id="details_per_selection">
        <div id="details_ilp" class="selection_details">
            <h3>ILP 4 GB</h3>
            <div id="size_div"><canvas id="indexSizeChart" max-width="666" max-height="666"></canvas></div>
            <div id="index_overview"></div>
        </div>
    </div>
</div>

    <script>
    let apiUrl = 'http://127.0.0.1:5000/';

    function getJson(url) {
        let request = new XMLHttpRequest();
        request.open("GET", url, false);
        request.send(null);
        return JSON.parse(request.responseText);
    }

    var selectedAlgorithms = [];

    var summaryData = getJson(apiUrl + 'summary');
    console.log(summaryData);

    function summaryOnClickHandler(event, elements, chart) {
        if (elements.length == 1) {
            let algorithm = summaryData[elements[0].datasetIndex].label;
            let memory_budget = summaryData[elements[0].datasetIndex].data[elements[0].index].x;
            let index = selectedAlgorithms.findIndex((element) => element[0] == algorithm && element[1] == memory_budget);
            if (index == -1) {
                <!-- new approach got selected -->
                selectedAlgorithms.push([algorithm, memory_budget]);
                console.log('remove');
                $('#cost_div').removeClass('d-none');
                var result = getJson(apiUrl + 'query_cost_per_algorithm/' + JSON.stringify([[algorithm, memory_budget]]));
                for (i = 0; i < result.length; i++) {
                    queryCostsChart.data.datasets.push(result[i]);
                }
                $('#cost_div').removeClass('d-none');
                <!-- TODO: add approach details -->
            }
            else {
                <!-- previously selected approach got deselected -->
                selectedAlgorithms.splice(index, 1);
                let index2 = queryCostsChart.data.datasets.findIndex((element) => element.label == algorithm + ' ' + memory_budget);
                console.log('chart costs remove ' + index2);
                queryCostsChart.data.datasets.splice(index2, 1);
<!--                if (selectedAlgorithms.length == 0) {-->
<!--                    $('#cost_div').addClass('d-none');-->
<!--                }-->
                <!-- TODO: remove approach details -->
            }
            console.log(selectedAlgorithms);
            queryCostsChart.update();
        }
    }

    var ctx = document.getElementById('summaryChart').getContext('2d');
    queryCostsChart = new Chart(ctx, {
        type: 'line',
        data: {
            datasets: summaryData
        },
        options: {
            showLine: true,
            scales: {
                x: {
                    type: 'linear',
                    beginAtZero: true
                },
                y: {
                }
            },
            onClick: summaryOnClickHandler,
        }
    });

    var data = getJson(apiUrl + 'index_sizes');

    var ctx = document.getElementById('queryCostsChart').getContext('2d');
    queryCostsChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: data.queries,
            datasets: [{
                label: 'no indexes',
                data: data.query_cost_no_index
            },
            ]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });

    var ctx = document.getElementById('indexSizeChart').getContext('2d');
    querySizeChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: data.index_names,
            datasets: [{
                label: 'estimated index size',
                data: data.index_sizes,
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });

    function remove(element) {
        var parent = element.parentNode.parentNode;
        var removed_attribute = element.textContent;

        var index_id = parseInt(parent.id.slice(5, parent.id.length));
        console.log(index_id);
        console.log(parent.id, element.textContent);
        var position = data.index_names[index_id].indexOf(removed_attribute);

        data.index_names[index_id].splice(position, 1);
        if (data.index_names[index_id].length == 0) {
            data.index_names.splice(index_id, 1);
            element.parentNode.parentNode.remove();
            for (var i=index_id + 1; i <= data.index_names.length; i++) {
              document.getElementById('index' + i).id = "index" + (i - 1);
            }

        } else {
          element.remove();
        }
        querySizeChart.update();
        console.log(data.index_names);

        var result = getJson(apiUrl + 'index_calculation/' + JSON.stringify(data.index_names));
        data.query_costs = result.query_costs;
        data.index_sizes = result.index_sizes;
        querySizeChart.data.datasets[0].data = data.index_sizes;
        queryCostsChart.data.datasets[1].data = data.query_costs;
        console.log(data.index_sizes);

        queryCostsChart.update()
        querySizeChart.update();

    }

    function constructIndexOverview(indexes) {
        let index_overview_element = document.getElementById('index_overview');
        index_overview_element.innerHTML = '';
        for (var i = 0; i < indexes.length; i++) {
            var index = indexes[i];
            var index_element = '<div id="index' + i + '" ><div class="btn-group" role="group">';
                for (var j = 0; j < index.length; j++) {
                    index_element +=  '<button type="button" class="btn btn-default index-attribute" value="' + index[j] + '" onclick="remove(this)">' + index[j] + '<span class="glyphicon glyphicon-remove"></button>\n';
            }
            index_element +='</div></div>'
            index_overview_element.innerHTML += index_element;
        }
    }

    constructIndexOverview(data.index_names);


    </script>
</body>

</html>